@font-face {
    font-family: 'CustomFont';
    src: url('../fonts/jb.otf') format('opentype'); /* Adjusted path */
    font-weight: normal;
    font-style: normal;
}

/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    color: #fff;
}

/* Top bar styling */
.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    padding: 50px;
    font-size: 24px;
    z-index: 10;
    font-family: 'CustomFont', sans-serif; /* Apply custom font here */
}

#username-display {
    font-weight: bold;
}

/* About this page styling */
.about-page {
    font-size: 24px;
    color: #ddd;
    margin-top: 5px;
    font-family: 'CustomFont', sans-serif; /* Apply custom font to about section */
}

/* Programs Page Styling */
.programs-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('images/background.PNG');
    background-size: cover;
}

.scroll-container {
    width: 80%;
    height: 400px;
    overflow-x: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.service {
    text-align: center;
    margin: 25px;
}

.service img {
    width: 100%;
    height: auto;
    max-width: 300px; /* Adjust based on your design needs */
    margin-bottom: 10px; /* Space between image and text */
}

.service-text {
    font-size: 24px;
    color: #fff; /* You can change the color based on your theme */
    margin-top: 1px;
    font-weight: bold;
    font-family: 'CustomFont', sans-serif; /* Apply custom font here */
}
